Web References/hrc/harcamalar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="harcama" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tarih" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="miktar" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="aciklama" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="Select">
        <s:complexType />
      </s:element>
      <s:element name="SelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AylikHarcama">
        <s:complexType />
      </s:element>
      <s:element name="AylikHarcamaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AylikHarcamaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AylikHarcamaDagilim">
        <s:complexType />
      </s:element>
      <s:element name="AylikHarcamaDagilimResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AylikHarcamaDagilimResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aybazliharcama">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ay" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aybazliharcamaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aybazliharcamaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="SelectSoapIn">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="SelectSoapOut">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="AylikHarcamaSoapIn">
    <wsdl:part name="parameters" element="tns:AylikHarcama" />
  </wsdl:message>
  <wsdl:message name="AylikHarcamaSoapOut">
    <wsdl:part name="parameters" element="tns:AylikHarcamaResponse" />
  </wsdl:message>
  <wsdl:message name="AylikHarcamaDagilimSoapIn">
    <wsdl:part name="parameters" element="tns:AylikHarcamaDagilim" />
  </wsdl:message>
  <wsdl:message name="AylikHarcamaDagilimSoapOut">
    <wsdl:part name="parameters" element="tns:AylikHarcamaDagilimResponse" />
  </wsdl:message>
  <wsdl:message name="aybazliharcamaSoapIn">
    <wsdl:part name="parameters" element="tns:aybazliharcama" />
  </wsdl:message>
  <wsdl:message name="aybazliharcamaSoapOut">
    <wsdl:part name="parameters" element="tns:aybazliharcamaResponse" />
  </wsdl:message>
  <wsdl:portType name="HarcamalarSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input message="tns:SelectSoapIn" />
      <wsdl:output message="tns:SelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AylikHarcama">
      <wsdl:input message="tns:AylikHarcamaSoapIn" />
      <wsdl:output message="tns:AylikHarcamaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AylikHarcamaDagilim">
      <wsdl:input message="tns:AylikHarcamaDagilimSoapIn" />
      <wsdl:output message="tns:AylikHarcamaDagilimSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="aybazliharcama">
      <wsdl:input message="tns:aybazliharcamaSoapIn" />
      <wsdl:output message="tns:aybazliharcamaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HarcamalarSoap" type="tns:HarcamalarSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AylikHarcama">
      <soap:operation soapAction="http://tempuri.org/AylikHarcama" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AylikHarcamaDagilim">
      <soap:operation soapAction="http://tempuri.org/AylikHarcamaDagilim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aybazliharcama">
      <soap:operation soapAction="http://tempuri.org/aybazliharcama" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HarcamalarSoap12" type="tns:HarcamalarSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap12:operation soapAction="http://tempuri.org/Select" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AylikHarcama">
      <soap12:operation soapAction="http://tempuri.org/AylikHarcama" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AylikHarcamaDagilim">
      <soap12:operation soapAction="http://tempuri.org/AylikHarcamaDagilim" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aybazliharcama">
      <soap12:operation soapAction="http://tempuri.org/aybazliharcama" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Harcamalar">
    <wsdl:port name="HarcamalarSoap" binding="tns:HarcamalarSoap">
      <soap:address location="http://192.168.1.135/harcamalar/harcamalar.asmx" />
    </wsdl:port>
    <wsdl:port name="HarcamalarSoap12" binding="tns:HarcamalarSoap12">
      <soap12:address location="http://192.168.1.135/harcamalar/harcamalar.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>